<header class="header__a">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <%= link_to image_tag("Basket.logo7.jpg", class: :logo_a), root_path %>
      </div>
      <div class="nav__center">
        <%= link_to image_tag("Basket.logo1.jpg", class: :logo), "/" %>
      </div>
      <% if user_signed_in? %>
        <div class="nav__right">
          <li class="list-user-name"><%= link_to current_user.nickname, root_path, class: "user-nickname" %></li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
          <%= link_to "COAT POST", new_basket_area_path, class: :nav__btn %>
        </div>
      <% else %>
        <div class="nav__right">
          <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
          <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
        </div>
      <% end %>
    </div>
  </div>
</header>