<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <div class="item-img-content-a">
      <%= image_tag @basket_area.image, class:"item-box-img" %>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">施設名</th>
          <td class="detail-value"><%= @basket_area.coat_name %></td>
        </tr>
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value"><%= @basket_area.street_address %></td>
        </tr>
        <tr>
          <th class="detail-item">URL</th>
          <td class="detail-value"><%= @basket_area.url %></td>
        </tr>
        <tr>
          <th class="detail-item">利用料金</th>
          <td class="detail-value"><%= @basket_area.price %></td>
        </tr>
        <tr>
          <th class="detail-item">利用時間</th>
          <td class="detail-value"><%= @basket_area.time %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="basket-area-switch">
    <% if user_signed_in? %>
      <% if current_user == @basket_area.user %>
        <%= link_to "情報編集", edit_basket_area_path, method: :get, class: "item-red-btn" %>
        <div class="or-text"></div>
        <%= link_to "削除", basket_area_path(@basket_area.id), method: :delete, class:"item-destroy" %>
      <% end %>
    <% end %>
  </div>
  <ul class="comments_lists">
    <span class="comments_title">・コメント一覧</span>
    <% @comments.reverse_each do |comment| %>
      <li class="comments_list">
        <%= comment.text %>
        <div class="comment_user">
          <%=comment.user.nickname%>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="prototype__comments">
    <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
    <% if user_signed_in? %>
      <%= form_with(model: [@basket_area, @comment], local: true) do |f|%>
        <div class="field">
          <%= f.text_area :text, placeholder:"コメントする", class:"field_comment"%>
        </div>
        <div class="actions">
          <%= f.submit "送信する", class: :form__btn  %>
        </div>
      <% end %> 
    <% end %>
    <%# // ログインしているユーザーには上記を表示する %>
  </div>
</div>
<%= render "shared/ssecond-footer" %>
